<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>SSV Lab3</title>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="error-message" th:id="error-message" th:style="'display: ' + (${errorMsg} == null ? 'none' : 'block')">
    <span th:utext="${errorMsg == null ? '' : errorMsg}"></span>
    <button onclick="errorWasReadBtn()">OK</button>
</div>

<div class="content">
    <div class="title">Клієнти магазину</div>
    <div class="control-panel">
        <div class="control-panel-item">
            <a href="/logout">Logout</a>
        </div>
        <div class="control-panel-item">
            <label for="client-gender">Стать</label>
            <select id="client-gender" name="client-gender" required>
                <option th:each="gender : ${T(ntukhpi.semit.cs221a.ssv.webappssvlab4_and_5.enums.Gender).values()}"
                        th:value="${gender.getDisplayName()}"
                        th:text="${gender.getDisplayName()}">
                </option>
            </select>
        </div>
        <div class="control-panel-item">
            <label for="client-vip">VIP</label>
            <select id="client-vip" name="client-vip" required>
                <option value="Ні" selected>Ні</option>
                <option value="Так">Так</option>
            </select>
        </div>
        <div class="control-panel-item">
            <form>
                <fieldset>
                    <legend>Фільтрувати за</legend>
                    <input type="radio" id="option1" name="radioFilter" value="gender" checked>
                    <label for="option1">Стать</label><br>
                    <input type="radio" id="option2" name="radioFilter" value="vip">
                    <label for="option2">VIP</label><br>
                    <input type="radio" id="option3" name="radioFilter" value="both">
                    <label for="option3">Обоє</label><br>
                </fieldset>
            </form>
        </div>
        <div class="control-panel-item">
            <button onclick="onFilterButton()">Фільтрувати</button>
        </div>
        <div class="control-panel-item">
            <button onclick="onSortBySurname()">Сортувати за прізвищем</button>
        </div>
        <div class="control-panel-item">
            <label for="search-by-surname">Пошук за прізвищем</label><br>
            <input type="text"
                   placeholder="Прізвище" id="search-by-surname"
                   onkeyup="onSearchBySurname()">
        </div>
        <div class="control-panel-item">
            <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/admin/addresses/send}" method="post">
                <input id="send_email"
                       type="email"
                       name="email"
                       placeholder="Введіть пошту...">
                <br>
                <input class="button" type="submit" value="Надіслати дані">
            </form>
        </div>
        <div class="control-panel-item">
            <form action="/admin" method="get">
                <input class="button" type="submit" accesskey="x" value="Оновити дані">
            </form>
        </div>
    </div>
    <div class="clients-table">
        <table>
            <thead>
            <tr>
                <th>Прізвище</th>
                <th>Ім'я</th>
                <th>Стать</th>
                <th>Телефон</th>
                <th>Email</th>
                <th>VIP клієнт</th>
                <th colspan="1">Дії</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="client : ${cList}">
                    <td th:text="${client.secondName}"></td>
                    <td th:text="${client.firstName}"></td>
                    <td th:text="${client.gender.displayName}"></td>
                    <td th:text="${client.phone}"></td>
                    <td th:text="${client.email}"></td>
                    <td th:text="${client.getIsVIP() ? 'Так' : 'Ні'}"></td>
                    <td>
                        <form sec:authorize="hasAuthority('USER')" th:action="@{/clients/edit/{id} (id=${client.id})}" >
                            <input class="edit-btn" type="submit" value="Редагувати">
                        </form>
                        <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/admin/clients/{id}/setVIP (id=${client.id})}" method="post" >
                            <input class="edit-btn" type="submit" value="Змінити VIP cтатус">
                        </form>
                        <br>
                        <form th:action="@{/admin/clients/{id}/addresses (id=${client.id})}" >
                            <input class="edit-btn" type="submit" value="Адреси">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="js/clients-table.js"></script>
</body>
</html>
